# Google Apps Script Web App Deployment URL for Athlete Data & Leads sync
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxQDH6HW0SN1mEBoQxcHH2A1zHBe1yppOyBvyd4XsFQSGSJ9pDDijrvSt-pcGRxH1BC/exec
