# Google Apps Script Web App Deployment URL for Athlete Data & Leads sync
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyMS-0e-txHc2ArqKidSaDj3TW4cRPf9G9f38Cyecr6SVHS-sdB2UTsJJvLMb0H_d0I/exec
