# Google Apps Script Web App Deployment URL for Athlete Data & Leads sync
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyFHMKVprWfXyqV8p6W7Kxqp4BjDi-MV5o9aT3KgJLE5pa-DnepKqygJkMH5p9Ov53z/exec
